@import url('https://fonts.googleapis.com/css?family=Nixie+One|Titillium+Web');

body {
    background-color: black;
}

#logo-p, #logo-l, #logo-pl {
    width: 50px;
    left: 25px;
    top: 25px;
    position: relative;
    z-index: 10;
}

#logo-p {
    z-index: 11;
}

#logo-p-container, #logo-l-container, #logo-container {
    background-color: white;
    position: absolute;
}

#pulsing-ring {
    position: absolute;
    visibility: hidden;
}

#logo-p-container {
    right: -100px;
}

#logo-l-container {
    left: -100px;
}

#logo-container {
    visibility: hidden;
    cursor: pointer;
}

.navbar-link {
    color: white;
    font-family: 'Nixie One', cursive;
    visibility: hidden;
}

.navbar-link-div:hover {
    font-weight: bolder;
    cursor: pointer;
}

#resume-content {
    color: white;
}

.resume-section-headers {
    font-family: 'Nixie One', cursive;
    font-weight: bolder;
}

.resume-section-body {
    font-family: 'Titillium Web', sans-serif;
}

td {
    padding: 5px;
}

.collection-item {
    background-color: transparent !important;
}

.media-icon-links {
    width: 40px;
    color: white;
    padding: 5px;
}

.left-align>.resume-section-body {
    border-left: 3px solid white;
    padding-left: 20px;
}

.right-align>.resume-section-body {
    border-right: 3px solid white;
    padding-right: 20px;
}