@import url('https://fonts.googleapis.com/css?family=Nixie+One|Titillium+Web');

body {
    background-color: #f4f4ff;
}

#logo-p, #logo-l, #logo-pl {
    width: 50px;
    left: 25px;
    top: 25px;
    position: relative;
    z-index: 10;
}

#logo-p {
    z-index: 11;
}

#logo-p-container, #logo-l-container, #logo-container {
    background-color: #27476e;
    position: absolute;
}

#pulsing-ring {
    position: absolute;
    visibility: hidden;
    z-index: -1;
}

#pulsing-ring-collapsed {
    z-index: -1;
    position: absolute;
    top: 0;
    display: none;
}

#logo-p-container {
    right: -100px;
}

#logo-l-container {
    left: -100px;
}

#logo-container {
    visibility: hidden;
    cursor: pointer;
}

#logo-container-collapsed {
    cursor: pointer;
}

#logo-pl-collapsed {
    width: 100%;
}

.navbar-block-collapsed {
    background-color: #27476e;
    height: 10vh;
    display: none;
    position: fixed;
    top: 0px;
    z-index: 7;
    width: 100%;
}

.navbar-block-collapsed .row {
    line-height: 10vh;
}

.navbar-link {
    color: #27476e;
    font-family: 'Nixie One', cursive;
    visibility: hidden;
    font-weight: 600;
}

.navbar-link-collapsed {
    color: #daa520;
    font-family: 'Nixie One', cursive;
    font-weight: 600;
}

.navbar-link-div:hover, .navbar-link-div-collapsed:hover {
    font-weight: 900 !important;
    text-decoration: underline;
    cursor: pointer;
}

#home-content {
    color: #006992;
}

#home-content .section {
    opacity: 0;
}

#profile-photo {
    width: 100%;
}

#contact-content {
    color: #006992;
    display: none;
}

#contact-content .section {
    opacity: 0;
}

#resume-content {
    color: #006992;
    display: none;
}

#resume-content .section {
    opacity: 0;
}

.resume-section-headers, #name-tag {
    font-family: 'Nixie One', cursive;
    font-weight: bolder;
    color: #27476e;
}

#title-label, .titles {
    font-family: 'Nixie One', cursive;
    font-weight: 600;
    color: #27476e;
}

#name-tag {
    margin-bottom: 0;
    margin-top: 0;
}

.resume-section-body, .home-section-body, .contents {
    font-family: 'Titillium Web', sans-serif;
}

.home-section-body {
    padding-top: 0;
}

td {
    padding: 5px;
}

.collection-item {
    background-color: transparent !important;
}

.media-icon-links {
    width: 40px;
    color: #006992;
    padding: 5px;
}

.left-align>.resume-section-body {
    border-left: 3px solid #daa520;
    padding-left: 20px;
}

.right-align>.resume-section-body {
    border-right: 3px solid #daa520;
    padding-right: 20px;
}

#projects-content {
    color: #27476e;
    display: none;
}

#projects-content .section {
    opacity: 0;
}

#thesis-content {
    color: #006992;
    display: none;
}

#thesis-content .section {
    opacity: 0;
}

#center-line {
    position: absolute;
    width: 4px;
    background-color: #27476e;
}

.btn {
    width: 100%;
    background-color: #27476e;
    color: #daa520;
}

.btn:hover {
    background-color: #006992;
}

.btn:focus {
    background-color: gray;
}

i {
    vertical-align: middle;
}

.email-link {
    color: #daa520;
    cursor: pointer;
}

.email-link:hover {
    color: gray;
}

.email-link:focus {
    color: darkgrey;
}

.collapsible-header {
    font-family: 'Nixie One', cursive;
    color: #daa520;
    background-color: #27476e;
}

.collapsible-header>h5 {
    font-weight: 600 !important;
}

.collapsible-body {
    font-family: 'Titillium Web', sans-serif;
}

th {
    padding: 5px;
}

.card-title {
    font-family: 'Nixie One', cursive !important;
    font-weight: bolder !important;
}

.project-text {
    font-family: 'Titillium Web', sans-serif;
    color: #f4f4ff;
}

.download-link-btn {
    color: #daa520; 
}

#thesis-github-text {
    position: relative;
    top: -16px;
}

.divider {
    background-color: #daa520;
}

thead {
    border-color: #daa520;
    color: #27476e;
}

.card .card-reveal, .card .card-content {
    background-color: #27476e !important;
}

.card-title {
    color: #daa520;
}

/* Mobile */

#logo-pl-mobile {
    width: 100%;
}

#pulsing-ring-mobile {
    z-index: -1;
    position: absolute;
    top: 0;
    visibility: hidden;
}

#home-content-mobile, #resume-content-mobile, #projects-content-mobile, #thesis-content-mobile, #contact-content-mobile {

}

#resume-content-mobile, #projects-content-mobile, #thesis-content-mobile, #contact-content-mobile {
    opacity: 0;
    display: none;
}

.no-padding-bottom {
    padding-bottom: 0;
}

.no-padding-top {
    padding-top: 0;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.no-margin-top {
    margin-top: 0;
}

#projects-content-mobile {
    padding: 20px;
}

.nav-wrapper {
    background-color: #27476e;
}

.side-nav li>a, .side-nav li>a>i {
    color: #006992 !important;
}