@import url('https://fonts.googleapis.com/css?family=Nixie+One|Titillium+Web');

body {
    background-color: black;
}

#logo-p, #logo-l, #logo-pl {
    width: 50px;
    left: 25px;
    top: 25px;
    position: relative;
    z-index: 10;
}

#logo-p {
    z-index: 11;
}

#logo-p-container, #logo-l-container, #logo-container {
    background-color: white;
    position: absolute;
}

#pulsing-ring {
    position: absolute;
    visibility: hidden;
}

#pulsing-ring-collapsed {
    z-index: -1;
    position: absolute;
    top: 0;
    display: none;
}

#logo-p-container {
    right: -100px;
}

#logo-l-container {
    left: -100px;
}

#logo-container {
    visibility: hidden;
    cursor: pointer;
}

#logo-container-collapsed {
    cursor: pointer;
}

#logo-pl-collapsed {
    width: 100%;
}

.navbar-block-collapsed {
    background-color: white;
    height: 10vh;
    display: none;
    position: fixed;
    top: 0px;
    z-index: 7;
    width: 100%;
}

.navbar-block-collapsed .row {
    line-height: 10vh;
}

.navbar-link {
    color: white;
    font-family: 'Nixie One', cursive;
    visibility: hidden;
}

.navbar-link-collapsed {
    color: black;
    font-family: 'Nixie One', cursive;
}

.navbar-link-div:hover, .navbar-link-div-collapsed:hover {
    font-weight: 900;
    cursor: pointer;
}

#home-content {
    color: white;
}

#home-content .section {
    opacity: 0;
}

#profile-photo {
    width: 100%;
}

#contact-content {
    color: white;
    display: none;
}

#contact-content .section {
    opacity: 0;
}

#resume-content {
    color: white;
    display: none;
}

#resume-content .section {
    opacity: 0;
}

.resume-section-headers, #name-tag {
    font-family: 'Nixie One', cursive;
    font-weight: bolder;
}

#title-label, .titles {
    font-family: 'Nixie One', cursive;
}

#name-tag {
    margin-bottom: 0;
    margin-top: 0;
}

.resume-section-body, .home-section-body, .contents {
    font-family: 'Titillium Web', sans-serif;
}

.home-section-body {
    padding-top: 0;
}

td {
    padding: 5px;
}

.collection-item {
    background-color: transparent !important;
}

.media-icon-links {
    width: 40px;
    color: white;
    padding: 5px;
}

.left-align>.resume-section-body {
    border-left: 3px solid white;
    padding-left: 20px;
}

.right-align>.resume-section-body {
    border-right: 3px solid white;
    padding-right: 20px;
}

#projects-content {
    color: white;
    display: none;
}

#projects-content .section {
    opacity: 0;
}

#thesis-content {
    color: white;
    display: none;
}

#thesis-content .section {
    opacity: 0;
}

#center-line {
    position: absolute;
    width: 4px;
    background-color: white;
}

.btn {
    width: 100%;
    background-color: white;
    color: black;
}

.btn:hover {
    background-color: lightgray;
}

.btn:focus {
    background-color: gray;
}

i {
    vertical-align: middle;
}

.email-link {
    color: white;
    cursor: pointer;
}

.email-link:hover {
    color: gray;
}

.email-link:focus {
    color: darkgrey;
}

.collapsible-header {
    font-family: 'Nixie One', cursive;
    font-weight: bolder;
    color: black;
}

.collapsible-body {
    font-family: 'Titillium Web', sans-serif;
}

th {
    padding: 5px;
}